spec
.git
.github
.editorconfig
.gitignore
Gemfile
Gemfile.lock
Rakefile
*.md
*.yml
env

.git
**/.git
**/.github

**/.ddev
**/node_modules
**/vendor
**/tmp
**/logs
**/.idea
**/.vscode

passbolt_styleguide
passbolt_browser_extension

passbolt_api/config/app.php
passbolt_api/config/passbolt.php
passbolt_api/config/gpg
passbolt_api/webroot/files